{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Adopt-A-Tree</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'styles.css' %}"
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center">Adopt-A-Tree</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/explore">Explore</a></li>
                    <li><a href="/adminview">Admin View</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/adopt">Adopt</a></li>
                    <li class="active"><a href="/cart">Cart</a></li>
                    <li><a href="/scrape">Load Trees (optional)</a></li>
                    <li><a href="/auth/signout">Sign Out</a></li>
                </ul>
            </div>
        </nav>

        <main>
            <p>
            Our names are Benny Nguyen and Sagar Surana, and we’re working on the agriculture/forestry industry. 
            In researching about the potential of strategically planting trees, we found that researchers 
            have used urban vegetation to enhance energy efficiency when it comes to cooling arid climates. 
            Further research into preventing deforestation found that the many countries have put in efforts 
            to restore agricultural land. This research cites that the agriculture industry is the “main 
            driver of deforestation.”

            <br/>
            <br/>

            Our mission is simple: allow a user to adopt a tree. However, there's more to it than simply
            owning a new plant In this day and age, people care a lot about their social media presence. 
            Some buy streets and stars in hopes of gaining likes, reactions, and applauses from their peers
            because they "own" it. Our inspiration comes from this: humans unintentionally want 
            to boast about what they’ve done. Adopting a tree from our website will give 
            the buyer the ability to name it after them. Not only do they get the satisfaction of bragging 
            about saving the environment, their purchases provide more of an environmental impact than 
            streets and stars ever could. We understand the earnings that we could receive with some 
            success of this project. To even further our purpose of aiding the fight against climate 
            change, we want to be able to use these earnings to help the multiple programs established 
            all over the world that strive for the same purpose. Lyft’s round up program helped us 
            understand that we did not need to set up a single organisation we wanted to help with, but 
            give our users the agency to choose the climate change program of their choice.
            </p>
        </main>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5>Links</h5>
                        <p class="grey-text text-lighten-4">Helpful links about this company.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5>Learn More</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="main/contactus.html">Contact Us</a></li>
                            <li><a class="grey-text text-lighten-3" href="main/aboutus.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2019 Copyright Text
                </div>
            </div>
        </footer>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>