{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Adopt-A-Tree</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'contactus.css' %}">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center">Adopt-A-Tree</a>
            </div>
        </nav>
        <div class="navbar">
            <ul id="nav-mobile">
                <li><a href="/explore">Explore</a></li>
                <li><a href="/adminview">Admin View</a></li>
                <li><a href="/profile">My Garden</a></li>
                <li><a href="/adopt">Adopt</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/main/displayplants">USDA Plants</a></li>
                <li><a href="/main/contactus">Contact Us</a></li>
                <li><a href="/main/aboutus">About Us</a></li>
                <li><a href="/auth/signout">Sign Out</a></li>
            </ul>
        </div>
        <div id="content">
            <h3>Please fill out our form below for any questions or concerns</h3>
            <p>
                Additionally, you can call us at <a href="tel:1-206-555-5555">1(206)555-5555</a>
                or email us at <a href = "mailto: ok@trees.com">ok@trees.com</a>
            </p>
            <div class="row">
                <form class="col s12" action="/adopt" method="get">
                    <div class="row">
                        <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="input_text" type="text">
                            <label for="input_text">Title</label>
                        </div>
                        </div>
                        <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea2" class="materialize-textarea"></textarea>
                            <label for="textarea2">Description</label>
                        </div>
                    </div>
                    <input type="submit" class="btn-large" value="submit">
                </form>
            </div>
        </div>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>