<div id="body">
    {% csrf_token %}
    <form>
        <button formaction="/explore/makeapost">Make A Post</button>
    </form>
    <div class="list">
        {% for post in posts %}
            <div class="postbox">
                <h3>{{post.firstname}} {{post.lastname}} just bought {{post.treename}}!</h3>
                <p>{{post.description}}</p>
                <p>{{post.postid}}</p>
                <form>
                    <button formaction="explore/{{post.postid}}">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>