{% load static from staticfiles %}

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="{% static 'explore.css' %}">
<div id="body">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Adopt-A-Tree</a>
        </div>
    </nav>
    <div class="navbar">
        <ul id="nav-mobile">
            <li><a href="/explore">Explore</a></li>
            <li><a href="/adminview">Admin View</a></li>
            <li><a href="/profile">My Garden</a></li>
            <li><a href="/adopt">Adopt</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/scrape">Load Trees (optional)</a></li>
            <li><a href="/main/displayplants">USDA Plants</a></li>
            <li><a href="/auth/signout">Sign Out</a></li>
        </ul>
    </div>
    {% csrf_token %}
    <form>
        <button formaction="/explore/makeapost" class="btn-large">Make A Post</button>
    </form>
    <div class="list">
        {% for post in posts %}
            <div class="postbox">
                <p class="treebought">{{post.firstname}} {{post.lastname}} just bought a new {{post.treename}}!</p>
                <p class="caption">{{post.description}}</p>
                <form>
                    <button formaction="explore/{{post.postid}}" class="btn-large delete">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>