{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Adopt-A-Tree</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'styles.css' %}"
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center">Welcome to Adopt-A-Tree!</a>
            </div>
        </nav>

        <div>
            <header>
                <h3>What would you like to do?</h3>
            </header>
            <div id="signInRegisterBox">
                <a class="btn-large" href="auth/signin">Sign In</a>
                <a class="btn-large" href="auth/register"> Register</a>
            </div>
        </div>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>