<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Adopt-A-Tree</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Homepage</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="auth/signin">Sign In</a></li>
                <li><a href="auth/register"> Register</a></li>
                <li><a href="auth/signout">Sign Out</a></li>
                <li><a href="main/users/6">User Info</a></li>
            </ul>
            </div>
        </nav>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>