<a href="/explore">Explore</a>
<a href="/profile">Profile</a>
<a href="/adopt">Adopt</a>
<a href="/cart/1">Cart</a>
</br >
{% if trees %}
    There is a total of {{ trees|length }} records:
    <ul>
    {% for tree in trees %}
        <li>Breed: {{ tree.tree_type_id.breed }}</li>
        <li>Description: {{ tree.tree_type_id.description }}</li>
        <li>Age: {{ tree.age }}</li>
        <li>Status: {{ tree.status }}</li>
        <br />
    {% endfor %}
    </ul>
{% else %}
    There are no trees to look at
{% endif %}